
.footer {
  background-color: #3d4050;
}

.footer__wrapper {
  display: flex;
  min-height: 80px;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 30px;
}

.footer__title {
  @include reset-list;
  font-size: 13px;
  line-height: 14px;
  color: #ffffff;
  margin-right: 32px;
}

.footer__wallets-list {
  @include reset-list;
  display: flex;
  justify-content: space-between;
  width: 475px;

  padding: 0 53px 0 68px;
  font-size: 13px;
  line-height: 18px;
}

.wallets-list__link {
  color: #c3c3c3;
}

.wallets-list__item {
  position: relative;
}

.wallets-list__item::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  left: -24px;
  top: 0;
  background-image: url("../img/qiwi-ico.png");
  background-repeat: no-repeat;
}

.wallets-list__item:nth-child(2)::before {
  width: 11px;
  left: -22px;
  background-image: url("../img/yandex-ico.png");
}

.wallets-list__item:nth-child(3)::before {
  top: 1px;
  background-image: url("../img/webmoney-ico.png");
}

.footer__social-list {
  @include reset-list;
  display: flex;
  justify-content: space-between;
  width: 292px;
  padding-left: 30px;

  font-size: 13px;
  line-height: 18px;
}

.social-list__item {
  position: relative;
}

.social-list__item::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 13px;
  left: -24px;
  top: 3px;
  background-image: url("../img/mail-ico.png");
  background-repeat: no-repeat;
}

.social-list__item:last-child::before {
  width: 11px;
  background-image: url("../img/vk-ico.png");
}

@media (max-width: $tablet-width) {
  .footer__wrapper {
    min-height: 120px;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .footer__title {
    width: 180px;
    text-align: left;
    line-height: 22px;
  }

  .footer__wallets-list {
    @include reset-list;
    display: flex;
    justify-content: space-between;
    width: 150px;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
  }

  .wallets-list__item {
    margin-bottom: 5px;
  }

  .footer__social-list {
    flex-direction: column;
    justify-content: normal;
    width: 150px;
  }

  .social-list__item {
    margin-bottom: 5px;
  }
}

@media (max-width: $mobile-width) {
  .footer__wrapper {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .footer__title {
    width: 180px;
    margin-right: 0;
    text-align: center;
    margin-bottom: 30px;
  }

  .footer__wallets-list {
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    width: 150px;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .wallets-list__item {
    margin-bottom: 10px;
  }

  .footer__social-list {
    flex-direction: column;
    justify-content: normal;
    width: 150px;
  }

  .social-list__item {
    margin-bottom: 10px;
  }
}
