
.form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form__select-button,
.form__email-input,
.form__name-input {
  height: 46px;
  width: 370px;
  border-radius: 3px;
  border: 1px solid white;
  background-color: #dfdfe1;
  font-size: 18px;
  line-height: 22px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
  color: $color-background-blue;
}

.form__select-wrapper {
  position: relative;
}

.form__select-list {
  position: absolute;
  display: none;

  @include reset-list;
  color: white;
  max-height: 170px;
  width: 100%;
  overflow-y: auto;
  z-index: 105;

  border-radius: 0 0 3px 3px;
  border-right: 4px solid rgba(39, 39, 51, 0.8);
  outline: 1px solid #3d4050;

  &--opened {
    display: block;
  }
}

.form__select-wrapper > ul::-webkit-scrollbar-track {
  display: block;
  margin-top: 3px;
  margin-bottom: 3px;
}

.form__select-wrapper > ul::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.form__select-wrapper > ul::-webkit-scrollbar-thumb {
  border-radius: 3px;
  margin-right: 10px;
  background-color: $color-light-blue;
}

.select-list__item {
  background-color: rgba(39, 39, 51, 0.8);
  font-size: 18px;
  line-height: 34px;
  padding-left: 15px;
  z-index: 102;

  &:hover {
    color: #42a9ed;
    cursor: pointer;
  }
}

.form__select-button {
  position: relative;
  vertical-align: middle;
  text-align: left;
  margin-bottom: 0;
  outline: 1px solid #3d4050;

  &::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    left: 340px;
    top: 18px;
    transform: rotate(45deg);
    border-bottom: 2px solid $color-background-blue;
    border-right: 2px solid $color-background-blue;
  }

  &--active {
    background-color: rgba(61, 64, 80, 0.9);
    color: white;
    border: none;
    border-radius: 0;

    &::after {
      border-bottom: 2px solid white;
      border-right: 2px solid white;
    }

    &::before {
      position: absolute;
      content: "";
      width: 8px;
      height: 162px;
      right: 2.8px;
      top: 49px;
      border-radius: 3px;
      background-color: #3d4050;
      z-index: 101;
    }
  }
}

.form__email-input::placeholder,
.form__name-input::placeholder {
  color: $color-background-blue;
}

.form__input-range-wrapper {
  width: 770px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
  z-index: 1;
}

.form__label-range {
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 16px;
}

.form__range-span {
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
}

.form__range-input {
  position: relative;
  width: 770px;
  margin-left: 4px;
  height: 6px;
  z-index: 120;
  border: 1px solid #ffffff;
  border-radius: 3px 3px 3px 3px;
  background-color: #bfbfc2;

  &::after {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    background-color: #42a9ed;
    border: 3px solid rgba(40, 102, 144, 0.5);
    border-radius: 100%;
    top: -7px;
    left: calc(75% - 6px);
    z-index: 1;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  }
}

.form__file-wrapper {
  position: relative;
  height: 46px;
  width: 370px;
  border-radius: 3px;
  border: 1px solid white;
  background-color: #dfdfe1;
  color: $color-background-blue;

  &::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 20px;
    left: 88px;
    top: 10px;
    background-image: url("../img/upload-file-ico.png");
    background-repeat: no-repeat;
  }
}

.form__file-input {
  display: block;
  opacity: 0;
  height: 46px;
  width: 370px;
  font-size: 0;
}

.form__file-input + label {
  position: absolute;
  top: 4px;
  left: 123px;
  text-transform: uppercase;
  color: $color-background-blue;
  font-size: 15px;
}

.form__button {
  font-size: 15px;
  line-height: 22px;
  height: 46px;
  width: 370px;
  margin: 0 auto;
}

@media (max-width: $tablet-width) {
  .form {
    justify-content: center;
  }

  .form__select-button,
  .form__email-input,
  .form__name-input,
  .form__input-range-wrapper,
  .form__file-wrapper,
  .form__file-input,
  .form__button {
    width: 500px;
  }

  .form__select-button {
    &::after {
      left: 460px;
    }
  }

  .select-list__item {
    background-color: rgba(39, 39, 51, 1);
  }

  .form__email-input {
    margin-top: 30px;
  }

  .form__file-wrapper {
    margin-bottom: 30px;

    &::before {
      left: 150px;
    }
  }

  .form__button {
    margin: 0 0 50px 0;
  }

  .form__file-input + label {
    left: 180px;
  }
}

@media (max-width: $mobile-width) {
  .form {
    justify-content: center;
  }

  .form__select-button,
  .form__email-input,
  .form__name-input,
  .form__input-range-wrapper,
  .form__file-wrapper,
  .form__file-input,
  .form__button {
    width: 300px;
  }

  .form__select-button {
    &::after {
      left: 270px;
    }
  }

  .form__label-range {
    width: 240px;
  }

  .form__file-input + label {
    left: 95px;
  }

  .form__file-wrapper {
    &::before {
      left: 65px;
    }
  }
}
