//Цвета
$color-main-blue: #2a2b30;
$color-background-blue: #272733;
$color-light-blue: #3e9cdc;
$color-light-blue-header: #43abf0;

//Экраны
$tablet-width: 1229px;
$desktop-width: 1230px;
$mobile-width: 767px;
